.main-layout {
    display: grid;
    position: relative;
    min-height: 100dvh;
    grid-template-columns: minmax(20px, 1fr) 3fr minmax(20px, 1fr);
    grid-template-rows: minmax(20px, 100px) 3fr minmax(20px, 100px);
}

.main-layout>* {
    grid-column: 2;
}

.main-layout .full {
    grid-column: 1/-1;
}

/* .container {
    max-width: 800px;
    padding: 1em;
    margin: auto;
} */