.app-header {
    background-color: #f4f4f4;
    color: #777;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    font-family: 'Roboto', sans-serif;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container .logo {
    font-size: 32px;
    font-weight: bold;
}

.app-nav {
    display: flex;
    gap: 15px;
}


a.active:not(.logo) {
    color: #0000FF;
    font-weight: 600;
    text-decoration: underline;
}

.nav-container {
    display: flex;
    gap: 15px;
}

@media (max-width: 720px) {
    .app-header {
        color: var(--clr2bg-light);
    }
}